
.itrackbar{
  background-color: #24ade1;
}

.navbar-brand {
  font-weight: bold;
}

.headerTitle {
  margin: 0 3%;
}

.dropbtn {
  background-color: #24ade1!important;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #238bb2 !important;
}

.footer {
   text-align: center;
   padding: 20px 20px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #24ade1;
   color: white;
}

.adminHeaderNav {
  justify-content: right;
  float: none;
}

input.refnum {
  width: 200%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  background-color: white;
  background-image: url('../img/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.loginheader {
  font-weight: bold;
}

/*start of imported sass for login*/

/* Aaron Stump's Dribbble Shot: https://dribbble.com/shots/1447730-Sign-Up-Form */
/* Colors */
.html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.body {
  font-family: "Open Sans", san-serif;
}
.body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form {
  width: 350px;
  height: 350px;
}
.form__header {

  width: 100%;
  height: 1px;
}
.form__header svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
}
.form__body {
  height: calc(100% - 80px);
  background-color: #fff;
  text-align: center;
  border-radius: 0 0 5px 5px;
  border: 2px solid #cccdd1;
}
.form__body .title {
  padding-top: 30px;
  margin: 0;
  font-weight: 600;
}
.form__body .title span {
  color: #24ade1;
  text-transform: uppercase;
}
.form__body .description {
  font-size: 12px;
}.form__body input {
  width: 250px;
  padding: 8px;
  margin: 7px;
  border: 2px solid #cccdd1;
  border-radius: 5px;
  outline: none;
}
.form__body input:focus {
  border-color: #24ade1;
}
.form__body input::placeholder {
  font-size: 12px;
  letter-spacing: 1.5px;
  opacity: 0.8;
}
.form__body input:focus::placeholder {
  opacity: 0.3;
}
.form__body button {
  width: 250px;
  padding: 14px;
  margin-top: 10px;
  background-color: #24ade1;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login {
  margin-top: 20px;
  font-size: 12px;
  color: #9698a1;
}
.login a {
  color: #24ade1;
  text-decoration: none;
}


/*end of imported sass shit*/

div.psw {
  padding-top:10px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
  span.psw {
     display: block;
     float: none;
}
